#block-calendarwidgetfeaturedevents h2 {
    margin-top: 100px;
}
/* namespaced headings */
.overall-feature-wrapper .h4, .overall-feature-wrapper .h4 a,
.overall-feature-wrapper h4, .overall-feature-wrapper h4 a {
    color: #002e5d;
}
.overall-feature-wrapper h5, .overall-feature-wrapper .h5 {
    color: #767676;
}
.overall-feature-wrapper h6, .overall-feature-wrapper .h6, .overall-feature-wrapper  .date-wrapper {
    color: #fff!important;
}

.overall-feature-wrapper h5, .overall-feature-wrapper h6, .overall-feature-wrapper .h5, .overall-feature-wrapper .h6, .overall-feature-wrapper .h7 {
    font-family: "Ringside Narrow A", "Ringside Narrow B", Arial, sans-serif;
}
.overall-feature-wrapper h4 {
    font-size: 18px;
    line-height: 20px;
}
.overall-feature-wrapper h4 a:focus,
.overall-feature-wrapper h4 a:hover {
    color: #005eb8;
}
.overall-feature-wrapper h4 a:focus,
.overall-feature-wrapper h4 a:hover {
    color: #005eb8;
}
.overall-feature-wrapper h5 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .33px;
}
.overall-feature-wrapper h6 {
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}
.overall-feature-wrapper .academic-calendar-button,
.overall-feature-wrapper .full-events-button {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.overall-feature-wrapper  a,
.overall-feature-wrapper a:focus,
.overall-feature-wrapper a:hover {
    border-bottom: none;
    text-decoration: none;
}

/* -- feature classes -- */

.overall-feature-wrapper {
    display: flex;
    justify-content: space-between;

}

.feature-column {
    /*background: #e5e5e5;*/
    width: 19%;
    overflow: hidden; /*Required to hide overflow of skewed objects*/
}
@media screen and (max-width: 1223px){
    .feature-column {
        /*background: #e5e5e5;*/
        width: 24%;
    }
}

.date-wrapper {
    width: 100%;
    background: #5D7998; /* medblue */
    margin-bottom: 10px;
}

.date-weekday {
    text-align: center;
    padding: 10px 10px 0px;
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: 500;
}

.date-weekday.h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.date-day {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
}



/*Links column*/
column-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
}

.full-link {
    height: 67%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #5D7998;
}
.academic-link {
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #002e5d;
    transform: skewY(0deg);
}
@media screen and (min-width: 769px) {
    .academic-link:after {
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        background: inherit;
        z-index: -1;
        width: 100%;
        height: 60%;
        transform-origin: top left;
        transform: skewY(-13deg);
        border-top: 5px solid white;

    }
    .date-day {
        padding-bottom: 10px;
    }
    .feature-column {
        height: 350px;
    }
    .full-link {
        padding-top: 50px;
    }
    .full-events-text {
        padding-bottom: 15px;
    }
    .academic-calendar-text {
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 768px){
    .event {
        padding: 0px 29px;
    }
    .academic-calendar-text {
        padding-top: 5px;
    }
    #block-calendarwidgetfeaturedevents h2 {
        margin-top: 20px;
    }
}
.full-events,
.academic-calendar-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Ringside Narrow A", "Ringside Narrow B", Arial, sans-serif;
}


.academic-calendar-text,
.full-events-text {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.academic-calendar-text .larger,
.full-events-text .larger {
    font-size: 16px;
    margin: -3px 0px;
    font-weight: bold;
}

.academic-calendar-button,
.full-events-button {
    padding: 5px 5px;
    background:  #5D7998; /* medblue */
    border: 3px solid #fff;
    width: 80px;
    text-align: center;
    /*color: #fff;*/
    text-transform: uppercase;
    font-size: 12px;
}
/* positioning */
.full-events-button {
    position: relative;
    /*top: -201px;*/
    /*left: 49px;*/
}
#full-events-area:focus,
#academic-area:focus,
#full-events-area:hover,
#academic-area:hover {
    cursor: pointer;
}
#full-events-area:focus .full-events-button,
#full-events-area:hover .full-events-button {
    background: #002e5d; /* medblue */
}

.academic-calendar-button {
    background: #002e5d;
    position: relative;
    /*top: -91px;*/
    /*left: 49px;*/
}
#academic-area:focus .academic-calendar-button,
#academic-area:hover .academic-calendar-button {
    background: #5D7998; /* medblue */
}

.feature-column > .event.event-1 {
    border-top: 1px solid gray;
    margin-top: 25px;
    padding-top: 15px;
}

/*Mobile Adjustments*/


@media screen and (min-width: 769px) and (max-width: 1223px) {
    .feature-column.column-4 {
        display: none;
    }
}
@media screen and (max-width: 768px) {

    .overall-feature-wrapper {
       flex-wrap: wrap;
    }

    .academic-calendar-button,
    .full-events-button,
    .column-links > img {
        display: none;
    }
    .feature-column {
        /*background: #e5e5e5;*/
        width: 100%;
        margin-bottom: 20px;
    }

    .date-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .date-weekday {
       order: 2;
       padding: 5px 30px 5px 15px;
    }
    .date-weekday.h6 {
        margin-bottom: 0;
    }

    .date-day {
        order: 1;
        padding: 0px 29px;

    }
    .full-events,
    .academic-calendar-wrapper {
        top: 0px;
    }
    .column-links {
        display: flex;
        justify-content: center ;
    }
    .full-link, .academic-link {
        width: 200px;
        /*margin-right: auto;*/
        /*margin-left: auto;*/
        margin: 10px 5px;
        height: 65px;
    }
    .full-events {
        background: #5D7998; /* medblue */
        height: 100%;
    }
    .academic-calendar-wrapper {
        background: #002e5d;
        height: 100%;
    }
    .academic-calendar-text .larger {
        margin: -4px 0px -4px;
    }
    .full-events-text .larger {
        margin: -4px 0px -4px;
    }
}

.location.h5 {
    margin-bottom: 0px;
}
.event-time.h5 {
    margin-top: 2px;
}
